:root {
  --theme-color: #2F0743;
  --light-color: #d4e0ff;
  --body-background: #333399;
}

body {
  font-size: 2rem;
  padding: 1.5rem;
  background-color: #000;
  color: var(--light-color);
}

.home-title, .form-title {
  font-size: 2.5rem;
  margin-right: 2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}